Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log
Build\*
Content/Audio/mp5-in-doorway.aiff
Content/Audio/machine-gun-001-single-shot.ogg